body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: red;
  color: green;
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
}

.large-img {
  display: none;
  float: right;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  background-color: white;
  width : 50%;
}

nav {
  text-align: center;
}

nav a {
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 1px black dotted;
  text-align: center;
}
nav a:link, nav a:visited, nav a:active {
  color: white;
  text-decoration: none;
}

header p {
  text-align: center;
  font-size: 16px;
}

h1 {
  text-align: center;
}

.small, .medium, .large {
  display: none;
}



@media (min-width: 576px) {
  body{
      background-color: green;
      color: yellow;
  }
  .small{
    display: block;
  }
  .tiny{
    display: none;
  }
}

@media (min-width: 768px) {
  body{
      background-color: blue;
      color: yellow;
  }
  .medium {
    display: block;
  }
  .small {
    display: none;
  }
}

@media (min-width: 992px) {
  body{
      background-color: orange;
      color: purple;
  }
  .large, .large-img{
    display: block;
  }
  .medium{
    display: none;
  }
}
