  body {
    width: 95%;
    margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

  section.projecten {
    /* zorg dat dit een flexbox wordt en zorg dat de items worden gewrapt */
  }

  div.project {
    /* bepaal: opvulling, relatieve breedte tov section.projecten, tekstuitlijning (centrum), minimale breedte */
  }

  p.logo {
    /* bepaal: vaste hoogte */
  }

  p.logo img {
    /* bepaal: relatieve breedte van de afbeelding tov div.project */
  }

  p.language {
    /* bepaal: font-relatieve lettergrootte */
  }

  p.title {
    /* bepaal: font-relatieve lettergrootte, letterdikte*/
  }
  p.description{
    /* bepaal: font-relatieve lettergrootte, tekstuitlijning links*/
  }