body {
    background-color: black;
    color:white;
}
h1 {
    color:lightgreen;
}
h2 {
    color:orange
}
.p1{
    color: blue;
    font-weight: bolder;
}
.p2{
    color:yellow;
   font-family: italic;
}
.p3{
    color: red;
    font-family: monospace;
}
.tussen{
    background-color: red;
    color: yellow;
    font-family: italic;
}

footer{
    color: red;
    font-family: monospace;
    text-decoration: underline;
}